body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	width: 50px;
	height: 50px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin-left: 175px;
}
.postcard-header h1 {
	width: 300px;
	margin: 0;
	margin-top: 15px;
	margin-left: 10px;
}
.postcard-body {
	display: flex;
}
.body-left {
	margin-top: 0;
	padding: 10px;
	font-size: 15px;
}
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 10px solid lightgray;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 10px;
}
